html,
body,
.login-box,
.card-content {
    height: 100%;
}

/* label underline focus color */
.input-field input[type=text]:focus {
border-bottom: 1px solid #333;
box-shadow: 0 1px 0 0 #000;
}

#login-button {
    color: white;
}