#messages {
    border: 1px solid #ccc ;
    height: 400px;
    overflow: auto;
    padding: 1em;
}

.chatmsg {
    position: relative;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.chatmsg .chatremove {
    position: absolute;
    padding: 0.5em;
    top: 0em;
    bottom: 0;
    right: 0;
    display: none
}

.chatmsg:hover .chatremove.active {
    display: block; 
    color: #ccc;
    cursor: pointer;
}

