{% extends "layout.html" %}

{% block body %}
{% set active_page = "index" %}
    <div class="container">
        <h1 id="channelname" class="mt-5">{{ channel.name }}</h1>
        
        <div id="messageform" class="md-form">
            <div id="message_warning"></div>
            <div class="md-form">
                <input type="text" autofocus id="messagefield" class="form-control">
                <label for="messagefield">Your message</label>
            </div>
            <button id="msg_send" class="btn btn-outline-danger btn-rounded btn-block my-4 waves-effect z-depth-0">Send</button>
        </div>
    
        <h2 class="my-4">The conversation so far:</h2>
        <div id="messages">
            {% for message in channel.messages %}
                <p>{{ message.output }}</p>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='messages.js') }}"></script>
  
{% endblock %}