{% extends "layout.html" %}

{% block body %}
{% set active_page = 'welcome' %}

<div class="container">
    <div class="row">
      <div class="col py-5">
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header danger-color white-text text-center py-4">
              <strong>Who are you?</strong>
          </h5>
          <div class="card-body px-lg-5 pt-0">
              <form id="nameform" class="md-form" name="signup">
                <div class="md-form">
                  <input type="text" id="namefield" name="namefield" class="form-control">
                  <label for="namefield">User name</label>
                </div>
                <button class="btn btn-outline-danger btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" value="signup">That's my name!</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}